.continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #799cda, #7499d8);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    
}

.right {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
    width: 30%  ;
}

.right h1 {
    font-size: 24px;
    margin-left: 20px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.right h1:hover {
    color: #f5f7fa;
    transform: scale(1.05);
}

.links-con {
    display: flex;
    align-items: center;
    gap: 25px;
    
}

.links-con a {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 800;
    
}

.links-con a:hover,
.links-con a:focus {
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    transform: scale(1.05);
}


a{
    color: white;
    text-decoration: none;
}





.Link-login {
    display: flex;
    align-items: center;
    gap: 25px;
    
}

.Link-login {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 800;
    
}

.Link-login:hover,
.Link-login:focus {
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    transform: scale(1.05);
}


.right-register{
    display: flex;
gap: 5px;
}